<server description="Sample Liberty server">

    <featureManager>
        <feature>webProfile-10.0</feature>
        <feature>persistenceContainer-3.1</feature>
        <feature>bells-1.0</feature>
        <feature>localConnector-1.0</feature>
        <!--        <feature>adminCenter-1.0</feature>-->
        <!--        <feature>restConnector-2.0</feature>-->
        <!--        <feature>mpOpenAPI-3.1</feature>-->
        <!--        <feature>restfulWS-3.1</feature>-->
    </featureManager>

    <!--    <basicRegistry id="basic">-->
    <!--        <user name="admin" password="password" />-->
    <!--    </basicRegistry>-->
    <!--    <administrator-role>-->
    <!--        <user>admin</user>-->
    <!--    </administrator-role>-->
    <!--    <remoteFileAccess>-->
    <!--        <writeDir>${server.config.dir}</writeDir>-->
    <!--    </remoteFileAccess>-->

    <httpEndpoint
            id="defaultHttpEndpoint"
            httpPort="${http.port}"
            httpsPort="${https.port}"
            host="*"
    />

    <!--    <application location="psk.war" type="war" context-root="/"/>-->
    <webApplication location="psk.war" contextRoot="/"/>

    <library id="H2JDBCLib">
        <fileset dir="${shared.resource.dir}" includes="h2-*.jar"/>
    </library>

    <dataSource id="h2db" jndiName="jdbc/psk-ds">
        <jdbcDriver libraryRef="H2JDBCLib"/>
        <properties URL="jdbc:h2:~/h2database/psk-db;AUTO_SERVER=TRUE"/>
    </dataSource>

</server>
