<server description="Sample Liberty server">

    <featureManager>
        <feature>webProfile-10.0</feature>
        <feature>servlet-6.0</feature>
        <feature>faces-4.0</feature>
        <feature>persistenceContainer-3.1</feature>
        <feature>bells-1.0</feature>
        <feature>restfulWS-3.1</feature>
        <feature>jsonb-3.0</feature>
        <feature>jsonp-2.1</feature>
        <feature>cdi-4.0</feature>
        <feature>persistence-3.1</feature>
        <feature>adminCenter-1.0</feature>
        <feature>restConnector-2.0</feature>
        <feature>mpOpenAPI-3.1</feature>
    </featureManager>

    <basicRegistry id="basic">
        <user name="admin" password="password" />
    </basicRegistry>
    <administrator-role>
        <user>admin</user>
    </administrator-role>
    <remoteFileAccess>
        <writeDir>${server.config.dir}</writeDir>
    </remoteFileAccess>

    <variable name="http.port" defaultValue="8080"/>
    <variable name="https.port" defaultValue="8081"/>

    <httpEndpoint httpPort="${http.port}" httpsPort="${https.port}"
                  id="defaultHttpEndpoint" host="*"/>

    <application location="psk.war" type="war" context-root="/"/>

    <library id="H2JDBCLib">
        <fileset dir="${shared.resource.dir}" includes="h2-*.jar"/>
    </library>

    <dataSource id="h2db" jndiName="jdbc/psk-ds">
        <jdbcDriver libraryRef="H2JDBCLib"/>
        <properties URL="jdbc:h2:~/h2database/psk-db;AUTO_SERVER=TRUE"/>
    </dataSource>

</server>
